@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Georgia';
  src: url('./assets/fonts/georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

body {
  background-color: #f0f0f0; /* Softer white/gray */
  color: #1c1c1c; /* Dark gray for better readability */
  font-family: 'Be Vietnam Pro', 'sans-serif';
  font-size: 1rem;
}

h1, h2, h3 {
  font-family: 'Be Vietnam Pro', 'sans-serif';
  color: #1a1a1a; /* Slightly darker color for headings */
}

/* Custom styles */
.bg-opacity-transition {
  transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* Consistent styles for other components */
.text-muted {
  color: #7f7f7f; /* Use for less prominent text */
}

.bg-primary {
  background-color: #1a1a1a; /* Darker black background */
}

.text-accent {
  color: #2f2f2f; /* Accent text color */
}

.border-accent {
  border-color: #2f2f2f;
}

/* index.css or global CSS file */

/* Scroll indicator bounce animation */
@keyframes bounce-slow {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(5px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite;
}

/* Fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out forwards;
}

/* Animation for the scroll indicator appearing and falling */
.scroll-indicator {
  animation: fadeIn 1.5s ease-in-out forwards, dropDown 1.5s ease-in-out forwards;
}

@keyframes dropDown {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}
